body{
    background-color: antiquewhite;
}

/*  HOME  */


.container{
    font-family: 'Oswald', sans-serif;
}

a{
    text-decoration: none;
}

.titulo__header{
    font-size: 30px;
    font-weight: 500;
    color: black;
}

.lista__home{
    background-color: #810220;
    padding: 10px 0px 10px 0px;
    margin: 20px 0px 0px 0px;

}

ul{
    font-family: 'Special Elite', cursive;
    color: blanchedalmond;
    font-size: 20px;
    text-align: center;
}

.resumen__home{
    margin: 30px 0px 30px 0px;
    font-size: 25px;
    
}

/*  PERSONAJES  */

.imagen__muestra{
    height: 700px;
}

.titulo__texto{
    font-size: 25px;
}

.texto__descripcion{
    padding: 10px 0px 30px 0px;
    font-size: 20px;
}

.titulo__personajes{
    font-size: 25px;
}

.imagen__personajes{
    background-color: black;
    padding: 10px 10px 10px 10px;
    height: 270px;
}

.texto__personajes{
    padding: 10px 20px 20px 20px;
    font-size: 20px;
}

.titulox2__personajes{
    font-size: 15px;
    padding: 10px 0px 5px 0px;
} 

